.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-container {
  padding-right: 20px;
  padding-left: 20px;
}

.App-form {
  display: flex;
  min-width: 200px;
  width: 20%;
  flex-direction: column;
}

.App-input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.App-button {
  width: 100px;
  padding: 10px;
  background-color: #3898ec;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
}

.Table-channel {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Table-number-days {
  font-family: sans-serif;
  color: #4129c7;
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
}

.Table-estimated {
  font-family: sans-serif;
  font-size: 15px;
}

.Table-dates {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.Table-countries-cell {
  background-color: #0B24FB;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}

.Table-countries {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.Table-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 40px;
}